samples/oldstuff/cognitive/voice-transmission/echo-translation/Node-RED_Flow.txt
[{"id":"7c7178f3.aa7f98","type":"watson-translate","z":"4dd2daf4.b69d44","name":"English - Spanish","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"es","password":"OyifQZNdNi2A","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","trainid":"","x":299,"y":228.00001525878906,"wires":[["c10566fb.fb8a08"]]},{"id":"64cd41e7.32f0a","type":"debug","z":"4dd2daf4.b69d44","name":"","active":true,"console":"false","complete":"payload","x":217.49998474121094,"y":106,"wires":[]},{"id":"a7fe437.066c5c","type":"ibmiot in","z":"4dd2daf4.b69d44","authentication":"apiKey","apiKey":"51f7e176.0c2a4","inputType":"evt","deviceId":"Device05","applicationId":"","deviceType":"iotsample-deviceType","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":55,"y":106.5,"wires":[["64cd41e7.32f0a","942a612.cb4eca"]]},{"id":"1d3bd8ef.61b497","type":"debug","z":"4dd2daf4.b69d44","name":"","active":true,"console":"false","complete":"payload","x":621,"y":287.5,"wires":[]},{"id":"942a612.cb4eca","type":"function","z":"4dd2daf4.b69d44","name":"Format Source Text","func":"msg.payload=msg.payload.d.speech;\nreturn msg;","outputs":1,"noerr":0,"x":181.5,"y":165.00001525878906,"wires":[["7c7178f3.aa7f98"]]},{"id":"369381b7.54a1de","type":"ibmiot out","z":"4dd2daf4.b69d44","authentication":"apiKey","apiKey":"51f7e176.0c2a4","outputType":"cmd","deviceId":"Device05","deviceType":"iotsample-deviceType","eventCommandType":"cmd","format":"json","data":"{\"hi\":\"hello\"}","name":"IBM IoT","service":"registered","x":548.2000122070312,"y":346.20001220703125,"wires":[]},{"id":"c10566fb.fb8a08","type":"function","z":"4dd2daf4.b69d44","name":"Format Target Text","func":"// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify({\n      d:{\n        \"content\" : msg.payload\n      }\n    })\n};\nreturn msg;","outputs":1,"noerr":0,"x":418.20001220703125,"y":287.20001220703125,"wires":[["369381b7.54a1de","1d3bd8ef.61b497"]]},{"id":"51f7e176.0c2a4","type":"ibmiot","z":"4dd2daf4.b69d44","name":"ofz8jz"}]